*{
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header{
    width: 100vw;
    height: 100vh;
   
}

nav{
    width: 90%;
    margin: 10px auto;
    text-align: right;
}

nav ul li{
    display:  inline-block;
}
nav ul li a{
    text-decoration: none;
    color: rgba(233, 19, 215, 0.849);
    margin: 0px 10px;
    font-size: 20px;
    letter-spacing: 1px;
}

nav ul li a:hover{
    text-decoration: underline;
    color: skyblue;
}

.strapline-container{
    border: 3px solid rgba(153, 50, 204, 0.733);
    width: 95%;
    height: 85%;
    margin: auto auto;
    text-align: center;
    background-image: url(cake16.jpg);
    background-size: cover;
    background-position: center;
}






.main-strapline{
    color: rgba(185, 19, 207, 0.795);
    text-transform: uppercase;
    font-size: 100px;
    margin: 100px 0px;
    text-align: left;
}

.second-strapline{
    color: greenyellow;
    font-size: 70px;
    font-style: oblique;
    text-align: left;
}



.section-title{
    text-align: center;
    font-family: 'poppins',sans-serif;
    color: purple;
    text-transform: uppercase;
    font-size: 240%;
    margin-bottom: 25px;
}

#gal a:link{
    text-decoration: none;
    color: purple;
}

.menu-section{
    width: 100vw;
    height: 60vh;
}

#box{
    height: 50px;
    width: 80px;
    border: 3px solid royalblue;
    margin: 10px;
    display: inline-block;
    padding: 120px;
}

.box1 {
    background-image: url(cake4.jpg);
   background-position: center;
    background-size: cover;
    text-transform: uppercase;
   
    font-size: 30px;
    font-weight: bold;
    
   }

  .box1 a:hover{
       text-decoration: underline;
       color: red;
   }

   .box4 a{
       color:rgba(165, 42, 42, 0.849); ;
   }

.box2{
    background-image: url(cup2.jpg);
    background-position: center;
    background-size: cover;
    text-transform: uppercase;
   
    font-size: 20px;
    font-weight: bold;
    text-align: center;
   
}

.box2 a:hover{
    text-decoration: underline;
    color: red;
}

.box2 a{
    color:rgba(255, 166, 0, 0.897) ;
}

.box3{
    background-image: url(pastry.jpg);
    background-position: center;
    background-size: cover;
    text-transform: uppercase;
    
    font-size: 30px;
    font-weight: bold;
    text-align: center;
   
   }

   .box3 a:hover{
    text-decoration: underline;
    color: red;
}

.box3 a{
    color:rgba(255, 0, 0, 0.664) ;
}

.box4{
    background-image: url(donut.jpg);
    background-position: center;
    background-size: cover;
    text-transform: uppercase;
   
    font-size: 30px;
    font-weight: bold;
    text-align: center;
   
   
}

.box4 a:hover{
    text-decoration: underline;
    color: red;
}

.box4 a{
    color: green;
}

#gal a:hover{
    color: chartreuse;
    text-decoration: underline;
}

.about-section{
    height: 90vh;
    width: 100vw;
    text-decoration: none;
}

.about-container{
    
    width: 85%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
}

.left-box{
    color: rgb(207 , 19 , 107);
    width: 45%;
    font-weight: bold;
    text-align: justify;
    line-height: 220%;
    letter-spacing: 0.8px;
    
}

.right-box{
   
    width: 40%;
    margin-left:6% ;
}

.top-row{
    display: flex;
    flex-direction: row;

}

.bottom-row{
    display: flex;
    flex-direction: row;
}

.grid-img-one{
    width: 50%;
    height: 240px;
   background-image: url(c10.jpg);
   background-size: cover;
   background-position: center;
}

.grid-img-two{
    width: 50%;
    height: 240px;
   background-image: url(dc.jpg);
   background-size: cover;
   background-position: center;
}

.grid-img-three{
    width: 50%;
    height: 240px;
   background-image: url(d11.jpg);
   background-size: cover;
   background-position: center;
}

.grid-img-four{
    width: 50%;
    height: 240px;
   background-image: url(p10.jpg);
   background-size: cover;
   background-position: center;
}

.contact-section{
    width: 100vw;
    height: 50vh;
    background-color: rgb(66, 197, 214);
    color: #FFFFDD;
    text-align: center;
}

.contact-title{
    margin: 25px;
    font-family: 'poppins' ,sans-serif;
    text-transform: uppercase;
    font-size: 250%;
}

.email{
    font-size: 150%;
}

.social-media-div{
display: flex;
flex-direction: row;
justify-content: center;
width: 40vw;
margin: 0px auto;
}





